html,
body {
  background: #10161A;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-right: 0.5em;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.nes6-player {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 50vh;
  max-width: 50vw;
  transform: translate(-50%, -50%);
}
