html,
body {
  background: #10161A;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin-right: 0.5em;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.king-hippo {
  display: block;
  margin: 10vh auto 2em;
  /*max-height: 50vh;*/
  max-width: 20em;
  width: 40vmin;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;

  -webkit-filter: drop-shadow(1px 1px 0px #5C7080);
  -moz-filter: drop-shadow(1px 1px 0px #5C7080);
  filter: drop-shadow(1px 1px 0px #5C7080);
}

.broken-io {
  color: #BFCCD6;
}

.broken-io h3 {
  color: #fff;
  margin-bottom: calc(1em + 2vmin);
}
.broken-io span {
  color: #5C7080;
}

.nes6-player {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 50vh;
  max-width: 50vw;
  transform: translate(-50%, -50%);
}
